.navbar {
  background-color: #144532;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: fixed; /* Fija la barra en la parte superior */
  top: 0; /* La posiciona en la parte superior de la ventana */
  width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.navbar li {
  display: inline;
  padding: 10px;
  font-family: "Black Ops One", system-ui; 
}

.butonnav {
  background: linear-gradient(to bottom right, #cba722cc, #bd890e);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Black Ops One", system-ui;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.butonnav:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

body {
  padding-top: 60px; /* Añade un margen superior para que el contenido no quede debajo de la navbar fija */
}

